<!DOCTYPE html>
<html>
<head>
  <title>Rules Testsite</title>
  <script type="text/javascript" src="/static/vendor/jquery.js"></script>
  {% if csrf_token %}
  <script type="text/javascript" src="/jsi18n/"></script>
  <meta name="csrf-token" content="{{csrf_token}}">
  <script type="text/javascript">
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
            }
        }
    });
  </script>
  {% endif %}
  {% block localheader %}{% endblock %}
</head>
<body>
  {% block menubar %}
  <div>
  <a href="/">Home</a>
  {% if request|is_authenticated %}
  | <a id="rules" href="/proxy/rules/">rules</a>
  | <a id="engagements" href="/proxy/engagement/">engagement</a>
  | <a id="authenticated-user" href="/users/">{{request.user.username}}</a>
  | <a href="/logout/">Sign Out</a>
  {% else %}
  | <a href="/login/">Sign In</a>
  {% endif %}
  </div>
  {% endblock %}
  <div id="messages">
    <div id="messages-content">
      {% for message in request|messages %}
      <div class="alert{% if message.tags %} alert-{{message.tags}}{% endif %}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div>{{message|safe}}</div>
      </div>
      {% endfor %}
      {% if form %}
      {% for message in form|messages %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div>{{message}}</div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div id="app">
  {% block content %}{% endblock %}
  </div>
  {% block footer %}{% endblock %}
  {% block bodyscripts %}
  {% if VUEJS %}
  <script type="text/javascript" charset="utf-8">
    var djaodjinSettings = {
      urls: {% if urls %}{{urls|to_json}}{% else %}{}{% endif %},
      itemsPerPage: {% if items_per_page %}{{items_per_page}}{% else %}25{% endif %},
    }
  </script>
  <script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-resources.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/vendor/moment.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/vendor/moment-timezone-with-data.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/vendor/Sortable.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/vendor/vue.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/vendor/uiv.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/vendor/vue-sortable.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-rules-vue.js"></script>
  <script type="text/javascript" charset="utf-8">
Vue.use(uiv, {prefix: 'uiv'});
var app = new Vue({
  el: '#app',
  delimiters: ["[[","]]"],
});
  </script>
  {% else %}
  <script type="text/javascript" charset="utf-8" src="/static/vendor/jquery-ui.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/vendor/angular.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/vendor/angular-touch.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/vendor/angular-animate.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/vendor/angular-resource.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/vendor/angular-route.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/vendor/angular-dragdrop.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/vendor/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-resources.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-rules-angular.js"></script>
  <script type="text/javascript">
/**
Implementation Note #1:
  Not including a list of dependent modules (2nd parameter to `module`)
  "re-opens" the module for additional configuration.
Implementation Note #2:
  Pasting this code in $(document).ready will lead to a $injector/unpr
  error in Angularjs.
*/
var app = angular.module('ruleApp');
app.config(['$interpolateProvider', '$httpProvider',
    function($interpolateProvider, $httpProvider) {
      $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
      /* Makes it easier to separate between django and angularjs templates */
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
}]);
app.constant('settings', {
  urls: {% if urls %}{{urls|to_json}}{% else %}{}{% endif %},
  itemsPerPage: {% if items_per_page %}{{items_per_page}}{% else %}25{% endif %}});

$(document).ready(function() {
    $('#new-rule').on('shown.bs.modal', function(){
      $('#id_new_rule_path').focus();
    });
});
</script>
  {% endif %}
{% endblock %}
</body>
</html>
